<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

<servlet>
<servlet-name>addTour</servlet-name>
<servlet-class>servlet.addTour</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>addTour</servlet-name>
<url-pattern>/addtour</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>RegisterLogin</servlet-name>
<servlet-class>servlet.RegisterLogin</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>RegisterLogin</servlet-name>
<url-pattern>/registertour</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>updatetour</servlet-name>
<servlet-class>servlet.updatetour</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>updatetour</servlet-name>
<url-pattern>/updtour</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>deletetour</servlet-name>
<servlet-class>servlet.deletetour</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>deletetour</servlet-name>
<url-pattern>/dettour</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>tourGuide</servlet-name>
<servlet-class>servlet.tourGuide</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>tourGuide</servlet-name>
<url-pattern>/tourgl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserToursServlet</servlet-name>
<servlet-class>servlet.UserToursServlet</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>UserToursServlet</servlet-name>
<url-pattern>/utss</url-pattern>
</servlet-mapping>
</web-app>